body {
  font-family: 'Montserrat-regular', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

p {
  color: #8f8f8f;
}
/********containers*************/
.container-fluid {
  padding: 3% 15% 9%;
}
/*********sections************/
.colored-section{
  background-color: #ff4c68;
  color: #ffff;
}
.colorful-section{
  text-align: center;
  background-color: #ef8172;
  color: #ffff;
}
.white-section{
  background-color: #ffff;
}
/****Navigation Bar*************/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light', sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/**********Title Image*************/
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/**********Features Box*************/

.feature-box {
  background-color: #ffff;
  z-index: 1;
  position: relative;
  padding: 7%;
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/************Testimonials section*************/
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/**************Press section*************/
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*******Pricing section******************/

.pricing-column {
  text-align: center;
  padding:5% 3% ;
}

/**************call to action section**********/
.cta-heading {
  text-align: center;
  margin: auto;
  padding: 5% 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

/*****************Footer section***************/
footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/****************Media query**********/
@media(max-width:1028px) {
  .title-image {
    text-align: center;
    position: static;
    transform: rotate(0);
  }
}
